<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.com.aisino.customer.mapper.TaxCustomerAuthorMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  TAX_CUSTOMER_AUTHOR 
		WHERE
			 CUSTOMER_ID = #{id} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.com.aisino.customer.entity.TaxCustomerAuthor">
		SELECT * 
		FROM  TAX_CUSTOMER_AUTHOR
		WHERE
			 CUSTOMER_ID = #{id} 		
	</select>
	<update id="updateAuthorStatus">
		update TAX_CUSTOMER_AUTHOR
		<set>
			<if test="authorStatus != null">AUTHOR_STATUS=#{authorStatus},</if>
			<if test="islockReached != null">ISLOCK_REACHED=#{islockReached}</if>
		</set>
		where check_code=#{checkCode} and customer_id=#{customerId}
	</update>
	
	
</mapper>
